.begin {
  width: 40vw;
  height: 30vh;
  margin-left: 30vw;
  margin-top: 20vh;
  font-size: 30px;
  border-radius: 10px;
}

.submit {
  width: 80vw;
  height: 10vh;
  margin-left: 10vw;
  margin-top: 5px;
  font-size: 14px;
}

input[type=submit] {
  border: none;
  color: white;
  background-color: #0396a5;
  font-family: sans-serif;
}

input[type=submit]:hover {
  background-color: #003d52;
  color: #adadad;
}

.firstName {
  margin-top: 4vh;
}

input[type=text] {
  border-radius: 4px;
  width: 60vw;
  height: 30px;
  margin-left: 20vw;
  background-color: #e6e3e3;
  border-style: none;
  padding-left: 8px;
  color: #333;
}

input[type=text]:focus {
  background-color: #adadad;
  color: black;
  border-style: none !important;
}

::placeholder {
  color: inherit;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #c6c6c6;
  color: #333;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 10vw;
}

input[type=radio]:checked::before {
  position: absolute;
  font: 13px;
  left: 11px;
  top: 7px
}

input[type=radio]:hover {
  background-color: #adadad;
}

input[type=radio]:checked {
  background-color: #0396a5;
  color: white;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #c6c6c6;
  color: #333;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 2vw;
  margin-bottom: 5px;
}

input[type=checkbox]:checked::before {
  position: absolute;
  font: 13px;
  font-family: sans-serif;
  left: 10px;
  top: 2px;
  content: '\02143';
  transform: rotate(40deg);
  font-size: 20px
}

input[type=checkbox]:hover {
  background-color: #adadad;
}

input[type=checkbox]:checked {
  background-color: #0396a5;
  color: white;
}

.label {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  margin-left: 20px;
}

.warning {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
  margin-left: calc(40px + 2vw);
}

.checkLable {
  font-size: 16px;
  font-family: sans-serif;
  color: #333;
}

h1 {
  text-align: center;
  color: #003d52;
  font-family: sans-serif;
  font-size: 60px;
  margin-top: calc(50vh - 80px);
}

.hidden {
  display: none;
}

.dropdown {
  margin-left: 20vw;
  margin-top: 8px;
  font-family: sans-serif;
}

select {
  border-radius: 4px;
  width: 60vw;
  height: 30px;
  background-color: #e6e3e3;
  border-style: none;
  color: #333;
}

select:focus {
  background-color: #adadad;
  color: black;
}

.hidden {
  display: none;
}

img {
  margin-left: 8px;
  margin-top: 8px;
}

label {
  font-family: sans-serif;
}

h2 {
  text-align: center;
  color: #0396a5;
  font-family: sans-serif;
  font-size: 24px;
  margin-left: 16px;
  margin-right: 16px;
}

select option {
  background-color: white;
}
